<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Setting TemplateService -->
    <add key="Ktnc.SendGrid.Storage.AccountName" value="--SetAccountName--" />
    <add key="Ktnc.SendGrid.Storage.AccessKey" value="--SetAccessKey--" />
    <add key="Ktnc.SendGrid.Storage.Container" value="--SetContainer--" />

    <!-- Setting SendMailService -->
    <add key="Ktnc.SendGrid.ApiKey" value="--SetApiKey--" />
    <add key="Ktnc.SendGrid.From" value="--SetDefaultFrom(MailAddress)--" />
    <add key="Ktnc.SendGrid.FromName" value="--SetDefaultFromName--" />

    <add key="Subject" value="$nameさんへ$messageです" />
    <add key="Body" value="test" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
